div {
    font-size: 72px;
    display: inline-block;
    width: 48vw;
    height: 48vh;
}

#q1 {
    background-color: purple;
}

#q2 {
    background-color: green;
}

#q3 {
    background-color: yellow;
}

#q4 {
    background-color: red;
}